<template>
    <div>
        <h3 class="title">Add Todo</h3>
        <div class="add">
            <form @submit="onSubmit">
                <div class="add__block">
                    <input type="text" v-model="title" class="add__input" required>
                    <span class="add__floating-label">Input your deal</span>
                </div>

                <input type="submit" value="ADD TO LIST">
            </form>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: "AddTodo",
        data() {
            return {
                title: ''
            }
        },
        methods: {
            ...mapActions(['addTodo']),
            onSubmit(e) {
                e.preventDefault();
                this.addTodo(this.title)
            }
        }
    }
</script>

<style lang="scss" scoped>
    $blue: #2a9efa;

    form {
        display: flex;
    }

    .add__block {
        position: relative;
        flex: 2;
    }

    input[type="text"] {

        padding: 10px 0 0 0;
        margin-right: 15px;
        border: 0;
        border-bottom: 1px solid grey;
        outline: 0;
    }

    input[type="text"]:focus {
        border-bottom: 1px solid $blue;
    }

    input[type="submit"] {
        height: 35px;
        margin-top: 10px;
        margin-left: 15px;
        flex: 1;
        background: $blue;
        color: #fff;
        border: 1px $blue solid;
        cursor: pointer;
        border-radius: 10px;
    }

    input:focus ~ .add__floating-label,
    input:not(:focus):valid ~ .add__floating-label {
        top: 0px;
        color: blue;

        bottom: 10px;
        left: 0px;
        font-size: 11px;
        opacity: 1;
    }

    .add__input {
        width: 100%;
        height: 35px;
    }

    .add__floating-label {
        color: grey;

        position: absolute;
        pointer-events: none;
        left: 0px;
        top: 18px;
        transition: 0.2s ease all;
    }

</style>
