<template>
    <div class="filter-todos">
        <div class="filter-todos__block">
            <p class="filter-todos__text" @click="clearFilteredTodos">all</p>
        </div>
        <div class="filter-todos__block">
            <p class="filter-todos__text" @click="filterCompletedTodos">completed</p>
        </div>
        <div class="filter-todos__block">
            <p class="filter-todos__text" @click="filterUncompletedTodos">uncompleted</p>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'

    export default {
        name: "FilterTodos",
        methods: {
            ...mapActions(['clearFilteredTodos', 'filterCompletedTodos', 'filterUncompletedTodos'])
        }
    }
</script>

<style lang="scss" scoped>
    $blue: #2a9efa;
    .filter-todos {
        display: flex;
    }

    .filter-todos__block {
        width: 33%;
        border-bottom: 1px solid white;
    }

    .filter-todos__block:hover {
        border-bottom: 1px solid $blue;
        transition: 1s;
        cursor: pointer;
    }

    .filter-todos__text {
        text-align: center;
        text-transform: uppercase;
    }
</style>
