<template>
    <div>
        <h3 class="title">progress</h3>
        <apexchart type='radialBar' height='250' :options="chartOptions" :series="[Math.round(countCompleted())]"/>
        <div @click="completeAll" class="completeAll">complete all</div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "Progress",
        computed: mapGetters(['allTodos']),
        methods: {
            ...mapActions(['completeAll']),
            countCompleted() {
                const countTodos = this.allTodos.length;
                const countCompleted = this.allTodos.filter(el => el.completed).length;
                const result = (countCompleted * 100) / countTodos
                if(result){
                    return result;
                } else {
                    return 0
                }
            }
        },
        data() {
            return {
                chartOptions: {
                    plotOptions: {
                        radialBar: {
                            hollow: {
                                size: '60%',
                            }
                        },
                    },
                    labels: ['Completed:']
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
  $blue: #2a9efa;
.completeAll {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid white;
    padding: 1em;
}
.completeAll:hover {
  transition: 1s;
  border-bottom: 1px solid $blue;
    cursor: pointer;
}
</style>
