<template>
    <div>
        <h3 class="title">Stats</h3>
        <div class="dealsInfo">Deals: <span class="dealsCount">{{allTodos.length}}</span></div>
        <div class="dealsInfo">Deals left: <span class="dealsCount">{{dealsLeft()}}</span></div>
        <div class="clearCompleted" @click="clearCompleted">clear completed</div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: "Stats",
        computed: mapGetters(['allTodos']),
        methods: {
            ...mapActions(['clearCompleted']),
            dealsLeft() {
                return this.allTodos.filter(el => !el.completed).length;
            }
        }
    }
</script>

<style scoped>

    .clearCompleted {
        color: red;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid white;
        padding: 1em;
    }

    .clearCompleted:hover {
        transition: 1s;
        border-bottom: 1px solid red;
        cursor: pointer;
    }

    .dealsInfo {
        margin: 0 1em;
    }

    .dealsCount {
        float: right;
        color: blue;
    }
</style>
