<template>
    <div class="todo"
         :class="{'is-complete':todo.completed}"
    >
        <Checkbox v-model="todo.completed"/>
        <input v-on:keyup.enter="onEnterEdit($event)" type="text" :value="todo.title" :disabled="editable"
               class="todo__input" :class="{todo__input_active: !editable}">
        <i @click="editable = !editable" class="todo__icon_edit fas fa-edit"></i>
        <i @click="onDelete(todo.id)" class="todo__icon_delete fas fa-trash-alt"></i>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import Checkbox from './ui/Checkbox'

    export default {
        name: "Todo",
        components: {
            Checkbox
        },
        props: {
            todo: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                editable: true
            }
        },
        computed: {...mapGetters(['filteredTodos'])},
        methods: {
            ...mapActions(['fetchTodos', 'deleteTodo', 'updateTodo']),
            onEnterEdit(event) {
                const updTodo = {
                    id: this.todo.id,
                    title: event.target.value,
                    completed: this.todo.completed
                };
                this.editable = !this.editable
                this.updateTodo(updTodo)
                if (this.filteredTodos.length !== 0) {
                    alert('Todo list updated. Check ALL.')
                }
            },
            onDelete(id) {
                this.deleteTodo(id)
                if (this.filteredTodos.length !== 0) {
                    alert('Todo list updated. Check ALL.')
                }
            }
        }
    }
</script>

<style scoped>
    .todo {
        border: 2px solid yellow;
        margin: 20px 0;
        padding: 1rem;
        border-radius: 5px;
        text-align: left;
        position: relative;
        cursor: pointer;
    }

    .todo__input {
        border: none;
        margin: 0 20px;
        background: none;
        font-size: 16px;
        width: 50%;
    }

    .todo__input_active {
        border-bottom: 1px solid lightgrey;
    }

    i {
        position: absolute;
        cursor: pointer;
    }

    .todo__icon_edit {
        right: 40px;
    }

    .todo__icon_delete {
        right: 10px;
        color: red;
    }

    .is-complete {
        border: 2px solid #25d625;
    }

</style>
