<template>
    <div>
        <Todo v-for="todo in todos"
              :todo="todo"
              :key="todo.id"/>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import Todo from './Todo'

    export default {
        name: "Todos",
        components: {
            Todo
        },
        computed: {
          ...mapGetters(['allTodos','filteredTodos']),
          todos:function(){
            if(this.filteredTodos.length === 0){
              return this.allTodos
            }else{
              return this.filteredTodos
            }
          }
        },
        methods: {
            ...mapActions(['fetchTodos']),
        },
        created() {
            this.fetchTodos();
        }
    }
</script>

<style scoped>

</style>
