<template>
    <div id="app">
        <div class="container">
            <Stats class="stats"/>
            <div class="list">
                <AddTodo/>
                <Todos/>
                <FilterTodos/>
            </div>
            <Progress class="progress"/>
        </div>
    </div>
</template>

<script>
    import Todos from './components/Todos.vue'
    import AddTodo from './components/AddTodo.vue'
    import FilterTodos from './components/FilterTodos.vue'
    import Progress from './components/Progress.vue'
    import Stats from './components/Stats.vue'

    export default {
        name: 'app',
        components: {
            Todos,
            AddTodo,
            FilterTodos,
            Progress,
            Stats
        }
    }
</script>

<style lang="scss">
    $background: #fff;

    .title{
        text-align: center;
        text-transform:uppercase;
    }

    body {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        line-height: 1.6;
        background: $background;
    }

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: auto;
        overflow: auto;
        padding: 0 2rem;
    }

    .stats {
        width: 20%;
    }

    .list {
        width: 60%;
        margin: 0 100px;
    }

    .progress {
        width: 20%;
    }
</style>
