<template>
    <div class="checkbox">
        <input @change="changeHandler" type="checkbox" :checked="value">
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "Checkbox",
        props: ['value'],
        computed: {...mapGetters(['filteredTodos'])},
        methods: {
            changeHandler() {
                this.$emit('input', !this.value);
                if (this.filteredTodos.length !== 0) {
                    alert('Todo list updated. Check ALL.')
                }
            }
        }
    }
</script>

<style scoped>
    .checkbox {
        display: inline;
    }
</style>